@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 14.3% 94.5%;
    --foreground: 0 0% 5.1%;
    --card:  0 0% 5.1%;
    --card-foreground:225 14.3% 94.5%;
    --popover: 0 0% 5.1%;
    --popover-foreground: 225 14.3% 94.5%;
    --primary: 25.2 100% 61.8%;
    --primary-foreground: 0 0% 16.5%;
    --secondary: 339.6 68.1% 53.3%;
    --secondary-foreground: 225 14.3% 94.5%;
    --muted: 0 0% 16.5%;
    --muted-foreground: 225 14.3% 94.5%;
    --accent: 25.2 100% 61.8%;
    --accent-foreground: 0 0% 16.5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 16.5%;
    --input: 0 0% 16.5%;
    --ring: 0 0% 16.5%;
  }

  .dark {
    --background: 240 8% 9%;
    --foreground: 60 100% 100%;
    --card: 60 100% 100%;
    --card-foreground: 240 8% 9%;
    --popover: 60 100% 100%;
    --popover-foreground: 240 8% 9%;
    --primary: 255 83% 65%;
    --primary-foreground: 60 100% 100%;
    --secondary: 155 61% 44%;
    --secondary-foreground: 60 100% 100%;
    --muted: 214 16% 64%;
    --muted-foreground: 240 8% 9%;
    --accent: 255 83% 65%;
    --accent-foreground: 240 8% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 16% 64%;
    --input: 214 16% 64%;
    --ring: 214 16% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
